@import "../base/variables.scss";
@import "../base/mixins.scss";

.footer {
    margin-top: 2rem;

    p {
        text-align: center;
        font-family: $Presentacion;
        line-height: 1.5;
    }
}

.footer-repo {

    @include flex(row);
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
        color: $ColorContenido;
        font-size: 1.8rem;
        text-decoration: none;
    }  
} 

