@import "../base/variables.scss";
@import "../base/mixins.scss";

.footer {
    margin-top: 2rem;

    p {
        text-align: center;
        font-family: $Presentacion;
        line-height: 1.5;
    }
}

.footer-repo {
    @include flex(column);

    a {
        color: $ColorContenido;
        font-size: 1.8rem;
        text-decoration: none;
    }
}

@include tablet {
    .footer-repo {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}